@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background: url('../imagens/espaco.jpg') center center no-repeat fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

.telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

.tela-home {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
    border-radius: 2px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

.redes-sociais img:hover {
    border: 2px solid rgba(248, 255, 114, 0.608);
    transform: translate(3px, 3px);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.626);
    transition: transform .2s, border .2s;
}